
$left-banner-font-Srisakdi : 'Srisakdi', cursive;
$left-banner-font-Karla : 'Karla', sans-serif;
%base-leftBanner {
  padding: 10px;
  width: 100%;
  border-radius: 1pc;
}
.leftBanner {
  @extend %base-leftBanner;
}

.leftBanner ul {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-align: left;
  li {
    margin-bottom: 15px;
    font-family: $left-banner-font-Karla;
  }
}


.techStackHeader {
  @extend %base-leftBanner;
  font-size: 2em;
  opacity: 1;
  transform: none;
  border-radius: 20px;
  margin-bottom: 4px;
  padding: 10px;
  width: 100%;
  font-family: $left-banner-font-Srisakdi;
  box-shadow: -3px 3px 2px 0px;
}