.errorPageBox {
  font-size: 1.8em;
  border-radius: 20px;
  border-style: solid;
  border-color: darkgray;
  box-shadow: 7px 8px 19px 0px;
  padding: 5%;
  margin: 0 auto;
  width: 84%;
}

.errorPageGear {
  margin: 33.5%;
}