@import url('https://fonts.googleapis.com/css?family=Abel');
.responsibilites {
  list-style: none;
  font-family: 'Abel', sans-serif;
  text-align: left;
  padding-left:8%;
}

.responsibilites li {
  padding-bottom: 3px;
  font-size: 1.2em;
}

.details h3 {
  font-size: x-large;
}