@import url('https://fonts.googleapis.com/css?family=Karla|Srisakdi');
$Font-Srisakdi : 'Srisakdi', cursive;

.App {
  text-align: center;
}

.mainContent {
  display: flex;
  section {
    width: 20%;
    margin: 14px 0px 0px 18px;
  }
  main {
    width: 80%;
    margin-left: 4%;
    text-align: left;
    font-family: $Font-Srisakdi;
  }
}